[Unit]
Description=CONN Toolbox installed to Matlab Docker container
Requires=alafia-conn-toolbox.service
After=alafia-home.service
StartLimitInterval=350
StartLimitBurst=10

[Service]
Restart=on-failure
RestartSec=30
ExecStart=/opt/alafia-ai/alafia-conn-toolbox/alafia-conn-toolbox.sh

[Install]
WantedBy=multi-user.target
